@import '../assets/styles/stylus/mixins.styl';
.tab
  height: 40px
  line-height: 40px
  display: flex
  position relative
  border-1px(rgba(7,17,27,0.1))
  .tab-item
    flex 1
    font-size: 14px
    color: rgb(77,85,93)
    text-align: center
    .active
      color: red