@import '../../assets/styles/stylus/mixins.styl';
.seller
    background-color #f3f5f7
    .header
        background-color: #fff
        margin-bottom: 12px
        .top
            display: flex
            padding: 18px
            justify-content: space-between
            border-1px(rgba(7,17,27,.1))
            .left
                .name
                    font-size: 24px
                    color: rgb(7,17,27)
                    line-height: 32px
                    padding-bottom: 8px
                .star
                    font-size: 18px
                    color: rgb(77,85,93)
                    line-height: 20px
            .right
                text-align: center
                .icon
                    font-size: 48px
                    color: red
                    line-height: 32px
                    margin-bottom:  8px
                .text
                    font-size: 18px
                    color: rgb(77,85,93)
                    line-height: 20px
        .bottom
            display: flex
            padding: 18px
            font-size: 18px
            line-height: 20px
            justify-content: space-around
            div
                .text
                    color: rgb(147,153,159)
                .price
                    color: rgb(7,17,27)
                    font-weight: 200
                    span
                        .num
                            font-size: 48px
    .active
        background-color: #fff
        padding: 18px
        margin-bottom: 12px
        .title
            font-size: 20px
            padding-bottom: 18px
            color: rgb(7,17,27)
            line-height: 20px
        .bulletin
            font-size: 18px
            color: rgb(240,20,20)
            line-height: 32px
            padding-bottom: 18px
            border-1px(rgba(7,17,27,.1))
        ul
            li
                border-1px(rgba(7,17,27,.1))
                display: flex
                .icon
                    display inline-block
                    width: 30px
                    height: 30px
                    margin-top: 6px
                    line-height: 38px
                    background-size: 26px 26px
                    background-repeat: no-repeat
                    vertical-align: middle
                .decrease
                    bg-image(decrease_1)
                .discount
                    bg-image(discount_1)
                .guarantee
                    bg-image(guarantee_1)
                .invoice
                    bg-image(invoice_1)
                .special
                    bg-image(special_1)
                .text
                    display: inline-block
                    margin-left: 4px
                    font-size: 18px
                    color: rgb(7,17,27)
                    line-height: 38px
    .photo
        background-color: #fff
        padding: 18px
        margin-bottom: 12px
        .title
            font-size: 20px
            color: rgb(7,17,27)
            line-height: 20px
            padding-bottom: 18px
        .content
            // overflow: hidden
            display: flex
            flex-wrap:wrap
            li
                img
                    width 160px 
                    height 130px 
                    padding: 0 6px 4px 0
    .info  
        background-color: #fff
        padding: 18px 
        .title
            font-size: 20px
            color: rgb(7,17,27)
            line-height: 20px
            padding-bottom: 18px
            border-1px(rgba(7,17,27,.1))
        .content
            .text
                font-size: 18px
                color: rgb(7,17,27)
                line-height: 44px
                font-weight: 200
                border-1px(rgba(7,17,27,.1))
               
                    







            



